<% if can? :manage, @project_phase %>
    <div class="view-title">
        <h1> Editing <%= @phaseedit.name %> phase</h1>
    </div>

    <%= render 'form', project_phase: @project_phase %>

    <%= link_to 'Show', @project_phase %> |
<%end%>
<%= link_to 'Back', project_phases_path %>
