<h1>Editing Project Phase Activity</h1>

<%= render 'form', project_phase_activity: @project_phase_activity %>

<%= link_to 'Show', @project_phase_activity %> |
<%= link_to 'Back', project_phase_activities_path %>
