<p id="notice"><%= notice %></p>

<h1>Project Teams</h1>

<table class="table">
  <thead>
    <tr>
      <th class="">ID Member</th>
      <th class="">Members</th>
      <th colspan="5"></th>
    </tr>
  </thead>

  <tbody>
    <% @project_teams.each do |project_team| %>
      <tr>
          <td class=""><%= project_team.id %></td>
          <td class=""><%= project_team.user.username %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Project Team', new_project_team_path %>
