<% if can? :manage, Project::Team %>
    <h1> Add new member for <%= @projectnew.name %> team</h1>
    <%= render 'form', project_team: @project_team %>

<% end %>

<%= link_to 'Back', project_teams_path %>
