<% if can? :manage, Project::Phase::Milestone %>
    <h1>New Project Phase Milestone</h1>

    <%= render 'form', project_phase_milestone: @project_phase_milestone %>

<% end %>


<%= link_to 'Back', project_phase_milestones_path %>
