<h1>Editing Project Phase Milestone Note</h1>

<%= render 'form', project_phase_milestone_note: @project_phase_milestone_note %>

<%= link_to 'Show', @project_phase_milestone_note %> |
<%= link_to 'Back', project_phase_milestone_notes_path %>
